<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">
	
	
	<bean id="checkJob" 
 		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
 		<property name="jobClass" value="com.itcast.bos.quartz.CheckJob" />
 	</bean>
 	
 	<!-- trigger -->
 	<bean id="simpleTrigger" 
 		class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
 		<property name="jobDetail" ref="checkJob" />
 		<!-- 3秒后第一次执行 -->
 		<property name="startDelay" value="0" />
 		<!-- 5秒后重复执行 -->
 		<property name="repeatInterval" value="60000" />
 	</bean>
 	
 	<!-- scheduler  -->
 	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
 		<property name="jobFactory" ref="jobFactory" />
 		<property name="triggers">
 			<list>
 				<ref bean="simpleTrigger"/>
 			</list>
 		</property>
 	</bean>
</beans>
